<form method="get" action="/" class="form-inline" role="form">
	<div class="form-group">
		<label for="input-context">Context (plural):</label>
		<br/>
		<input type="text" id="input-context" class="form-control" value="<%= input_context %>" placeholder="Pounds, Rabbits, etc" name="context" />
		<br/><br/>
		<label for="input">Enter a number:</label><br/>
		<input type="text" id="input" class="form-control" value="<%= input %>" placeholder="1234" name="numbers" />
	</div>
	<br/>
	<div id="output">
		<% if !converted.empty? %>
			<h3><%= converted %></h3>
		<% end %>
	</div>
	<br/>
	<input type="submit" class="btn btn-primary" value="Convert"/>
	<br/><br/>
</form>